@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Call API", "CallService")

<a href="/js.html">JS page</a>

<hr/>

<h2>Claims</h2>


<ul>
    @foreach (var claim in Model)
    {
        <li>
            @claim.Type : @claim.Value
        </li>
    }
</ul>